page-restaurantsbycusine {
    .toolbar-background-md {
        background: rgba(0, 0, 0, 0.41) !important;
        border: 0px;
    }
    .toolbar-ios-danger .toolbar-background-ios {
        background: rgba(0, 0, 0, 0.41) !important;
        border: 0px;
    }
    .header-md::after,
    .tabs-md[tabsPlacement="top"] > .tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        display: none;
    }
    .scroll-content {
        margin: 0px !important;
    }
    .headinside {
        height: 249px;
        margin: 0px !important;
        width: 100% !important;
    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: #fff !important;
    }
    .headinside img {
        width: 100%;
    }
    .toolbar-md-danger .toolbar-background-md {
        background: rgba(0, 0, 0, 0.41) !important;
    }
    .feature h3 span,
    a {
        color: #45818e;
    }
    a
    {
       font-size:1.2em;
    }
}