page-reservetable-confirmation {
    .success_confirm { text-align: center; background:green; color:#fff; padding:15px; display: block;}
    ion-label{
        color:#000 !important;
        font-size:100% !important;
    }
}
