page-reservetable-confirmation {
    .success_confirm { text-align: center; background:green; color:#fff; padding:15px; display: block;}
    .reserve_confirm { text-align: center; background:#fff; color:red; padding:15px; display: block;text-transform:uppercase;text-decoration:underline}
    ion-label{
        color:#000 !important;
        font-size:100% !important;
    }
}
