<ion-header>
  <ion-navbar color="danger" hideBackButton>
      <ion-buttons left>
          <button ion-button (click)="back()">
              <ion-icon class="customIcon" name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title> <p class="nav-title">{{firstName}}</p><span class="loc">Your Location WEST DES MOINES</span></ion-title>
  </ion-navbar> 
	<ion-toolbar color="danger">
    <ion-searchbar color="dark" debounce="2000"
      placeholder="{{ 'Start Searching' | translate }}"
      (ionInput)="onSearchAddress()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="restaurent">
  
  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content
      pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
<div *ngIf="isContentViewVisible"> 
	
<div class="white_bg" >
    <div class="container margin_60">        
        <div class="menu-section">
            <ul class="list-inline">
                <li (click)="gotocat()"><a #near>Near by Restaurents</a></li>
                <li (click)="soundsgood($event);"><a #sounds>what sounds good?</a></li>
                <li (click)="dinein($event);"><a #dine>Dine in</a></li>
                <li (click)="takeout($event);"><a #take>Take Out</a></li>
                <li (click)="delivery($event);"><a #deliver>Delivery</a></li>
                <li (click)="parties($event);"><a #party>Parties</a></li>
            </ul>
            <div class="search">
                <ion-searchbar color="dark" debounce="2000"
                placeholder="{{ 'Filter Restaurents' | translate }}" [(ngModel)]="searchTerm" 
               ></ion-searchbar>
            </div>
        </div>   
        
        <div class="view-rest" *ngIf="isContentViewVisible">            
                <div class="row">
                    <div class="col-xs-6"  *ngFor="let place of places.restaurants">
                        <div class="rest-addr" (click)="indRest(place.restaurant)">
                          <img src="assets/img/bg.png"  />
                            <h5 class="cardText">{{place.restaurant.name}}</h5>
                            
                            
                         
                           
                        </div>
                    </div>
                    
                </div>
        </div>
        
        
        </div><!-- End container -->
        </div>

</div>
</ion-content>
