page-sign-up-page {
        .fa{
                font-size: 2.0em!important;
        }
        .input-group-addon{
                background-color: white;
                color: #5db6ff;
        }
        .omb_authTitle {
                text-align: center;
                line-height: 300%;
        }
        .omb_socialButtons a {
                color: white; // In yourUse @body-bg
                opacity:0.9;
        }
        .omb_socialButtons a:hover {
                color: white;
                opacity:1;
        }
        .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
        .omb_socialButtons .omb_btn-twitter {background: #00aced;}
        .omb_socialButtons .omb_btn-google {background: #c32f10;}
}
