<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form *ngIf="emailverified==false"  #f="ngForm" (ngSubmit)="onSubmit(f.value, f.valid,$event)" novalidate>
        <div class="form-group">

            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="Email" [ngModel]="email" placeholder="Email"
                           #Email="ngModel" required>
                </div>
                <small [hidden]="Email.valid || (Email.pristine && !f.submitted)" class="text-danger">
                    Email is required.
                </small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Send</button>
        </form>

    <div  *ngIf="emailverified" class="row" padding style="text-align:center;color:green;font-size:20px;margin-top:20% !important">
        Password reset link has been sent to your email.
        <a (click)="login()" style="width:100%;text-align:center">Login</a>
    </div>
</ion-content>
