<!--
  Generated template for the RestaurantDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger" hideBackButton>
      <ion-buttons left>
          <button ion-button (click)="back()">
              <ion-icon class="customIcon" name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title> <p class="nav-title">{{firstName}}</p></ion-title>
  </ion-navbar> 
</ion-header>

<ion-content >
<ion-card class="headinside">
    <img *ngIf="restaurantImages == null || restaurantImages.length==0" src="{{featuredImage}}"/>
   <!-- <img *ngIf="restaurantImages && restaurantImages.length > 0" src="data:image/png;base64,{{restaurantImages[0].Image}}" />-->
    <ion-slides *ngIf="restaurantImages && restaurantImages.length > 0" >
        <ion-slide *ngFor="let slide of restaurantImages">
            <img style="width:100%;" src="data:image/png;base64,{{slide.Image}}">
        </ion-slide>
    </ion-slides>
    <!-- <div class="card-title">{{firstName}}</div> -->
    <!-- <div class="card-subtitle">{{name}}</div> -->
  </ion-card>

 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                   
                </div>
 <div class="address-section text-center">
                    <h1>{{name}}</h1>
                    <address>{{ address }}
                    </address>
     <span *ngIf="timeTable"><b><u>Opening hours</u></b></span>
     <div *ngIf="timeTable==null || timeTable.length==0">Open Now-11AM to 10PM</div>
     <div *ngFor="let tt of timeTable">
         <span *ngIf="tt.Day.toLowerCase()==today.toLowerCase()">{{tt.Day}} : {{tt.Start}} - {{tt.End}}</span>
     </div>
                    <address><b>Min order amount : ${{min_amt}}</b></address>
                </div>
                <div class="booking-process">
                    <ul class="list-inline text-center">

                        <li *ngIf="hasTablebooking==1" (click)= "reservetable()"><a >Book Table</a></li>
                        <li *ngIf="hasTablebooking==0" (click)="notavailable()"><a>Book Table</a></li>
                        <li *ngIf="hastakeout==1" (click)="takout()"><a>Take Out</a></li>
                        <li *ngIf="hastakeout==0" (click)="notavailable()"><a>Take Out</a></li>
                        <li *ngIf="hasdelivery==1" (click)="delivery()"><a>Delivery</a></li>
                        <li *ngIf="hasdelivery==0" (click)="notavailable()"><a>Delivery</a></li>
                    </ul>
                    <ul class="list-inline text-center">
                        <li><a href="tel:515-974-6778"><i class="fa fa-phone-square"></i><span>Call</span></a></li>
                        <li><i class="fa fa-users"></i><span>Invite a friend</span></li>
                    </ul>
                    <ul class="list-inline text-center">
                        <li><i class="fa fa-heart"></i><span>Favorites</span></li>
                        <li (click)="directions()"><i class="fa fa-map-marker"></i><span>Restaurent Directions</span></li>
                        <li (click)="openvideo()"><i class="fa fa-file-video-o"></i><span>Video</span></li>
                    </ul>
                </div>
</ion-content>
